.main {
  display: flex;
}
.add-task__container {
  margin: 1rem;
  background: #eaecef;
  border-radius: 1rem;
  padding: 1rem;
  max-width: 50rem;
  #add-task-form {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    .add-task__heading {
      font-size: x-large;
    }
    .add-task__category-label {
      margin-right: 1.5rem;
    }
    .add-task__title-label {
      margin-right: 1.5rem;
    }
    .add-task__description-label {
      margin-right: 1.5rem;
    }
    .add-task__duedate-label {
      margin-right: 1.5rem;
    }
    .add-task__time-label {
      margin-right: 1.5rem;
    }
  }
}

/* task list section below */
.tasks-list__title {
  margin: 1rem;
}
/* completed tasks styling */
/* .tasks-list li.completed {
  text-decoration: line-through;
} */
.task-item {
  list-style: none;
  margin: 1rem;
  background: #eaecef;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.submit__button {
  background: #98bba1;
  width: 10rem;
  margin: 1rem 0;
}

.edit__icon {
  width: 1rem;
}

.delete__icon {
  width: 1rem;
}

.modify__button {
  margin: 0.5rem;
}
