.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d8f3dc;
  padding: 1rem;

  /* remove later, just to see spacing between header */
  margin-top: 2rem;
}
